<div class="sidetoggle collapse" id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form>
        <input type="text" class="form-control" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
        {{^leaf}}
          {{>partials/li}}
        {{/leaf}}
      </div>
    </div>
  </div>
</div>
