<p><strong>Mathew Sachin</strong> was born on March 27, 1998 in <a href="https://www.google.co.in/maps/place/Kochi,+Kerala">Kochi, Kerala</a> in a Latin Catholic family to <em>P. M. Sebastian</em> and <em>Siji Sebastian</em>.
Currently, he is an Indian engineering student. His interests are <em>music</em> and <em>programming</em>.</p>

<h3>Music</h3>
<p>
Mathew likes listening to English and Malayalam songs. Some of his favorites are <a href="https://linkinpark.com">Linkin Park</a>, <a href="https://enriqueiglesias.com">Enrique Iglesias</a>, <a href="https://owlcitymusic.com">Owl City</a>.
He likes to sing though not proud of his voice. He learned to play the piano and the guitar a little.
</p>

<h3>Programming</h3>
<p>
He is particularly interested in C# .Net and has some experience in Java, C, C++ and Powershell.
He started to program as a hobby in 8th standard beginning with Q-BASIC and soon realised the need for something more powerfull and tried Java while side by side exploring Powershell.
Then he tried C and C++ and finally found his favorite C#. Also, he has tried web development (HTML, CSS, JS, PHP, AngularJS, Bootstrap, ASP.NET).
</p>

<h3>Education</h3>
<p>
Mathew passed 10th standard (CBSE) from <a href="http://www.carmelconventfaridabad.com/">Carmel Convent School, Faridabad</a> in 2014.
He passed 12th standard (CBSE) in Non-Medical stream from <a href="http://www.moderndps.org/">Modern Delhi Public School, Faridabad</a> in 2016.
Currently, he is enrolled in a <em>5-year B-Tech + M-Tech Dual Degree (IT)</em> program in <a href="https://iiitm.ac.in/">Atal Bihari Vajpayee - Indian Institute of Information Technology (ABV-IIITM), Gwalior</a>.
</p>

<p><strong>Languages Spoken</strong>: English, हिन्दी, മലയാളം</p>