<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="container">
        <div class="d-flex justify-content-between">
            <a href="/" class="navbar-brand">Mathew Sachin</a>
            <button class="navbar-toggler"
                    data-toggle="collapse"
                    data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>        
    
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/tags">Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/archive">Archive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://mathewsachin.github.io/Captura/">Captura</a>
                </li>
            </ul>
        </div>
    </div>
</nav>