{%- assign _post = include.post -%}
{%- unless _post -%}
  {%- assign _id = include.url | remove_last: "/" -%}
  {%- assign _post = site.posts | where: "id", _id | first -%}
{%- endunless -%}
{%- if _post -%}
  {%- if include.text -%}
    {%- assign _link_text = include.text -%}
  {%- else -%}
    {%- assign _link_text = _post.title -%}
  {%- endif -%}
  <a href="{{ _post.url | relative_url }}" class="post-link"{% if _link_text != _post.title %} aria-label="{{ _post.title | escape }}"{% endif %}>{% if _post.icon %}<i class="{{ _post.icon }} post-icon me-1" aria-hidden="true"></i>{% endif %}{{ _link_text }}</a>
{%- endif -%}
