<div class="flex justify-between items-center mb-2">
  <h3 class="mb-0">Latest posts</h3>
  <a href="{{ '/blog' | relative_url }}" class="btn btn-outline-info btn-sm"><i class="fas fa-book-open mr-1"></i>All posts</a>
</div>
<div class="posts">
  {% for post in site.posts limit: 8 %}
    {% include post_item.html post=post %}
  {% endfor %}
</div>
<div class="mt-4 text-center">
  <a href="{{ '/blog' | relative_url }}" class="btn btn-info text-white"><i class="fas fa-arrow-right mr-1"></i>Read more posts</a>
</div>
