---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Not Found" ads={true}>
    <p>Sorry, but the page you were trying to view does not exist.</p>
    <blockquote>Some old blog posts, which may have become irrelevant now have been removed.</blockquote>

    <p>If you are looking for a blog post, the <a href="/blog/archive">Archive</a> or <a href="/search">Search</a> might help.</p>
</BaseLayout>
