---
import PageLayout from '@layouts/PageLayout.astro';
import Blockquote from '@components/mdx/Blockquote.astro';
---

<PageLayout title="Not Found">
    <p>Sorry, but the page you were trying to view does not exist.</p>
    <Blockquote>Some old blog posts, which may have become irrelevant now have been removed.</Blockquote>

    <p>If you are looking for a blog post, the <a href="/blog/archive">Archive</a> or <a href="/search">Search</a> might help.</p>
</PageLayout>
