---
//
// Privacy Policy page: /privacy_policy/

import PageLayout from '@layouts/PageLayout.astro';
---
<PageLayout title="Privacy Policy">
  <p>We don't directly store your data, but some services we use do:</p>
  <ul>
    <li>Google Analytics</li>
    <li>Google AdSense</li>
  </ul>

  <h3>Google Analytics</h3>
  <p>For more details on what data is collected and how to opt-out, refer to: <a href="https://policies.google.com/technologies/partner-sites">https://policies.google.com/technologies/partner-sites</a>.</p>

  <h3>Google AdSense</h3>
  <ul>
    <li>Third party vendors, including Google, use cookies to serve ads based on your prior visits to this website or other websites.</li>
    <li>Google's use of advertising cookies enables it and its partners to serve ads to you based on your visit to this site and/or other sites on the Internet.</li>
    <li>You may opt out of personalized advertising by visiting <a href="https://www.google.com/settings/ads">Ads Settings</a>.</li>
  </ul>
</PageLayout>
