---
import chromDinoRawStyles from '@styles/chrome-dino-hack.css?raw';
---

<style is:inline set:html={chromDinoRawStyles}></style>

<div class="dino-hack-widget">
    <div class="dino-hack-controls d-flex align-items-center gap-2 flex-wrap px-3 py-2">
        <button class="btn btn-sm btn-dino-reset" id="score-reset" title="Reset to default" aria-label="Reset score to default"><i class="fa fa-undo" aria-hidden="true"></i> Reset</button>
        <button class="btn btn-sm btn-dino" id="btn-score-clip" title="Copy to clipboard" aria-label="Copy code to clipboard"><i class="fa fa-copy" aria-hidden="true"></i> COPY</button>
    </div>
    <div class="dino-hack-controls d-flex  align-items-center gap-2 flex-wrap px-3 py-2 small text-white text-opacity-75">
        <span>(Runner.instance_ <span class="code-symbol">||</span> Runner.<span class="code-function">getInstance</span>()).distanceRan <span class="code-symbol">=</span> </span>
        <input type="number" class="form-control form-control-sm dino-hack-num" id="score-input" min="0" max="99999" value="12345" aria-label="Score value" style="width:110px" />
        <span> <span class="code-symbol">/</span> <span class="code-number">0.025</span></span>
    </div>
</div>

<script src="@scripts/chrome-dino-hack.js"></script>
<script>
    import { registerCopyToClipboard } from '@scripts/utils.js';

    const clipButton = document.getElementById('btn-score-clip');
    const scoreInput = document.getElementById('score-input');
    if (clipButton && scoreInput) {
        registerCopyToClipboard(
            clipButton, 
            () => `(Runner.instance_ || Runner.getInstance()).distanceRan = ${scoreInput.value} / 0.025`,
            clipButton.querySelector("i")
        );
    }
</script>