---
import '@styles/chrome-dino-hack.css';
---

<div class="dino-hack-widget">
    <div class="dino-hack-controls d-flex align-items-center gap-2 flex-wrap px-3 py-2">
        <label class="text-white-50 small mb-0 me-1" for="ground-slider">Y Position:</label>
        <input type="range" class="form-range flex-grow-1" id="ground-slider" min="0" max="130" value="93" style="min-width:120px" aria-label="Ground Y position slider" />
        <input type="number" class="form-control form-control-sm dino-hack-num" id="ground-input" min="0" max="130" value="93" aria-label="Ground Y position value" />
        <button class="btn btn-sm btn-dino-reset" id="ground-reset" data-bs-toggle="tooltip" data-bs-placement="top" title="Reset to default" aria-label="Reset Y position to default"><i class="fa fa-undo" aria-hidden="true"></i> Reset</button>
        <button class="btn btn-sm btn-clip" data-clipboard-target="#ground-pre" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to clipboard" aria-label="Copy code to clipboard"><i class="fa fa-copy" aria-hidden="true"></i></button>
    </div>
    <div id="ground-pre" class="dino-hack-pre"><code>(Runner.instance_ || Runner.getInstance()).tRex.groundYPos = 93</code></div>
</div>

<script src="@scripts/chrome-dino-hack.js"></script>