---
layout: default
---

<div class="jumbotron jumbotron-fluid bg-teal">
    <div class="container">
        <h2>{{ page.title }}</h2>
        <em>{{ page.date | date_to_string }}</em> &nbsp; - &nbsp;
        <em>{% include readingTime.html %}</em>
    </div>
</div>

<div class="container page-content">
<div class="row">
    <div class="col-md-10">
        <div class="post-tag">
            {% for tag in page.tags %}
                <a role="button" class="btn btn-primary btn-xs btn-tag" href="/blog/tags#{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>

        <br>

        <div id="post">
            {{ content }}
        </div>

        <br><br>
        {% include adsense.html %}
        <br><br>

        {% include share.html %}

        {% include disqus.html %}
    </div>
    <div class="col-md-2">
        <div <div class="sticky-top" style="top: 10px">
            {% include adsense.html %}
        </div>
    </div>
</div>
</div>