---
layout: default
---

<link rel="stylesheet" href="{{ '/styles/blog.css' | relative_url }}">

{% include reading_progress.html %}

<div class="bg-dark">
<div class="pt-4 pb-5 text-white">
    <div class="container">
        <h2>{{ page.title }}</h2>
        <div class="p-5"></div>
    </div>
</div>

<div class="container post-content-container">
    <div class="row">
        <div class="col-md-10">
            {% capture toc_html %}{{ content | toc_only }}{% endcapture %}

            <div id="post" class="card">
                <div class="card-body">
                    <div class="page-content">
                    {% include post_content_with_ads.html content=content %}
                    </div>
                </div>
            </div>
        </div>
        {% include toc-sidebar.html %}
    </div>
</div>

<br>
</div>

{% include back_to_top.html %}
