---
layout: default
---

<link rel="stylesheet" href="{{ '/styles/blog.css' | relative_url }}">

{% include reading_progress.html %}

<div class="bg-dark">
<div class="pt-6 pb-12 bg-info text-white">
    <div class="container">
        <h2>{{ page.title }}</h2>
        <div class="pt-12"></div>
    </div>
</div>

<div class="container post-content-container">
    <div class="flex flex-wrap -mx-2">
        <div class="w-full md:w-10/12 px-2">
            {% capture toc_html %}{{ content | toc_only }}{% endcapture %}
            {% include toc.html toc_html=toc_html %}

            <div id="post" class="card">
                <div class="card-body">
                    <div class="page-content">
                    {% include post_content_with_ads.html content=content %}
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden md:block md:w-2/12 px-2">
            <div class="sticky top-2.5">
                <div id="toc-sidebar" class="mb-4" style="display:none">
                    <div class="card toc-card">
                        <div class="card-header toc-header">
                            <small><i class="fas fa-list mr-1" aria-hidden="true"></i>Contents</small>
                        </div>
                        <div class="card-body p-0">
                            <nav id="toc-nav" aria-label="Table of contents">{{ toc_html }}</nav>
                        </div>
                    </div>
                </div>
                {% include ad-unit.html %}
            </div>
        </div>
    </div>
</div>

<br>
</div>

{% include back_to_top.html %}
