---
layout: default
---

<div class="bg-dark">
    <div id="tool-header" class="py-4 bg-info text-white google-anno-skip">
        <div class="container">
            <h2>{{ page.title }}</h2>
            {% include share.html btn_class="btn-outline-light" label_class="text-white" %}
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div id="tool-main-content" class="col-md-10">
                {% include post_content_with_ads.html content=content %}
            </div>
            <div id="tool-sidebar" class="col-md-2">
                <div class="sticky-top" style="top: 10px">
                    {% include ad-unit.html %}
                </div>
            </div>
        </div>
    </div>

    <br>

    <div id="tool-giscus-section" class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        {% include giscus.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
</div>
