---
layout: default
---

<div class="bg-dark">
    <div class="py-4 bg-info text-white google-anno-skip">
        <div class="container">
            <h2>{{ page.title }}</h2>
            {% include share.html %}
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                {% include post_content_with_ads.html content=content %}
            </div>
            <div class="col-md-2">
                <div class="sticky-top" style="top: 10px">
                    {% include ad-unit.html %}
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        {% include giscus.html %}
    </div>

    <br>
</div>
