body {
    background-color: #f5f5f5;
}

@media only screen and (max-width: 768px) {
    .mobile-hide {
        display: none;
    }
}

.page-content {
    background: white;
    margin-top: -80px;
    padding: 30px;
    margin-bottom: 50px;
}

.page-content > h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-content img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.jumbotron {
    padding-bottom: 100px;
}

.page-content h2 {
    margin-top: 60px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.list-post {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tag-title {
    padding-top: 55px;
}

#post {
    word-wrap: break-word;
}

img {
    max-width: 100%;
}