@media only screen and (max-width: 768px) {
    .mobile-hide {
        display: none;
    }
}

#content > h1 {
    margin-bottom: 20px;
}

#content img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-post {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tag-title {
    padding-top: 55px;
}

#post {
    word-wrap: break-word;
}

#related {
    max-height: 100%;
}

img {
    max-width: 100%;
}