.fab {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 11px 0 0 0;
    border: none;
    outline: none;
    color: #FFF;
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;
}

.fab:hover {
    transform: scale(1.1);
}

.navbar-inverse
{
    background-color: #333333;
    border-radius: 0px;
    z-index: 20;
}

@media only screen and (max-width: 768px) {
    .mobile-hide {
        display: none;
    }
}