html,
body {
  font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
  height: 100%;
}

.body-content {
  margin-top: 50px;
}

.hljs {
  display: inline;
  background-color: inherit;
  padding: 0;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.divider {
  margin: 0 5px;
  color: #cccccc;
}

hr {
  border-color: #cccccc;
}

article h1, article h2, article h3, article h4 {
  margin-top: 25px;
}

article span.small.pull-right{
  margin-top: 20px;
}

article section {
  margin-left: 1em;
}

.sidenav, .fixed_header, .toc  {
  background-color: #f1f1f1;
}

.sidetoc {
  position: fixed;
  width: 260px;
  top: 94px;
  left: 0;
  bottom: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f1f1f1;
  padding-bottom: 100px;
  border-right: 1px solid #e7e7e7;
  z-index: 1;
}

body .toc {
  background-color: #f1f1f1;
  overflow-x: hidden;
}

.sidetoc-expand > .caret {
  margin-left: 0px;
  margin-top: -2px;
}

.sidetoc-expand > .caret-side {
  border-left: 4px solid;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin-left: 4px;
  margin-top: -4px;
}

.sidetoc-heading {
  font-weight: 500;
}

.toc {
  margin: 0px 0 0 10px;
  padding: 0 10px;
}

.expand-stub {
  position: absolute;
  left: -10px;
}

.toc .nav > li > a.sidetoc-expand {
  position: absolute;
  top: 0;
  left: 0;
}

.toc .nav > li > a {
  color: #666666;
  display: inline;
  padding: 0;
}

.toc .nav > li > .expand-stub + a {
  margin-left: 5px;
  display: block;
}

.toc .nav > li > a:hover,
.toc .nav > li > a:focus {
  color: #000000;
  background: none;
  text-decoration: inherit;
}

.toc .nav > li.active > a {
  color: #337ab7;
}

.toc .nav > li.active > a:hover,
.toc .nav > li.active > a:focus {
  color: #23527c;
}

.toc .nav > li> .expand-stub {
  cursor: pointer;
}

.toc .nav > li.active > .expand-stub::before,
.toc .nav > li.in > .expand-stub::before,
.toc .nav > li.in.active > .expand-stub::before,
.toc .nav > li.filtered > .expand-stub::before {
    content: "-";
}

.toc .nav > li > .expand-stub::before,
.toc .nav > li.active > .expand-stub::before {
    content: "+";
}

.toc .nav > li.filtered > ul,
.toc .nav > li.in > ul {
  display: block;
}

.toc .nav > li > ul {
  display: none;
}

.toc .level1 > li {
  font-weight: bold;
  margin-top: 10px;
  position: relative;
}

.toc .level2 {
  font-weight: normal;
  margin-top: 5px;
  margin-left: 15px;
  font-size: 14px;
}

.toc .level3 {
  font-size: 12px;
}

.toc-toggle {
  display: none;
  padding: 0 0 2px 0;
}

.sidefilter {
  position: fixed;
  top: 50px;
  width: 260px;
  left: 0;
  background-color: #f1f1f1;
  padding: 5px;
  margin: 0;
  border-right: 1px solid #e7e7e7;
  z-index: 1;
}

.article {
  margin-top: 30px;
  margin-bottom: 115px;
}

#_content>a{
  margin-top: 105px;
}

.article.grid-right {
  margin-left: 250px;
}

.article img {
  max-width: 100%;
}

/* sidebar */
.affix {
  max-height: 100%;
  overflow: hidden;
  top: 100px;
  bottom: 50px;
}

/* heading */
.affix h5 {
  padding-left: 10px;
  font-size: 12px;
}

.affix > ul.level1 {
  overflow-x: hidden;
  overflow-y: -20px;
  padding-bottom: 10px;
  height: calc(100% - 100px);
  margin-right: -20px;
}

/* active & hover links */
.affix ul > li > a:hover,
.affix ul > li.active > a,
.affix ul > li > a:focus {
  color: #563d7c;                 
  text-decoration: none;          
  background-color: transparent;  
  border-left-color: #563d7c; 
}

/* all active links */
.affix ul > li.active > a, 
.affix ul > li.active:hover > a,
.affix ul > li.active:focus >a {
    font-weight: 700;
}

/* nested active links */
.affix ul ul > li.active > a, 
.affix ul ul > li.active:hover > a,
.affix ul ul > li.active:focus > a {
    font-weight: 500;
}

/* all links */
.affix ul > li > a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}

/* nested links */
.affix ul ul > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

/* hide inactive nested list */
.affix ul ul {
  display: none;
}

/* show active nested list */
.affix ul > li.active > ul {
  display: block;
}

@media (min-width: 768px) {
  #sidetoggle.collapse {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  /* TOC display for responsive */
  .article {
    margin-top: 5px !important;
  }

  .topnav {
    text-align: center;
  }

  .sidenav {
    margin-left: -15px;
    margin-right: -15px;
  }

  .sidefilter {
    position: static;
    width: auto;
    float: none;
    border: none;
  }

  .sidetoc {
    position: static;
    width: auto;
    float: none;
    padding-bottom: 2px;
    border: none;
  }

  .toc .level2 > li {
    display: inline-block;
  }

  .toc .level2 > li:after {
    margin-left: -3px;
    margin-right: 5px;
    content: ", ";
    color: #666666;
  }

  .article.grid-right {
    margin-left: 0;
  }

  .toc-toggle {
    display: block;
  }

  .sidetoggle.ng-hide {
    display: none !important;
  }

  .affix {
    display: none;
  }
}

/* For toc iframe */
@media (max-width: 260px) {
  .toc .level2 > li {
    display: block;
  }

  .toc .level2 > li:after {
    display: none;
  }
}

/* For code snippet line highlight */
pre > code .line-highlight {
  background-color: #ffffcc;
}

/* ------------------------------- Custom -------------------------------- */
#toc_filter_input {
    width: 100%;
}

.sidetoc,
body .toc,
.sidefilter { 
  background-color: #f9fbe7; 
} 

article .collapse {
    padding-left: 0;
}