#AboutMe
{
    padding: 70px 20px 20px 20px;
    color: #fff;
    background-color: #00bcd4;
}

#googleMap
{
    height: 400px;
    width: 100%;
}

footer
{
    background-color: #2f2f2f;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;    
}

.avatar
{
    width: 100%;
}

.fab {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 11px 0 0 0;
    border: none;
    outline: none;
    color: #FFF;
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;
}

.fab:hover {
    transform: scale(1.1);
}

a.back-to-top {
    background-color:#F44336;
    background:#F44336;
    color: white;
    display: none;
    z-index: 9999;
    position: fixed;
    right: 20px;
    bottom: 20px;
}