body {
    font-family: 'Lato', sans-serif;
}

h2 {
    margin-top: 40px;
    margin-bottom: 15px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

h4 {
    margin-top: 15px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card > div > img {
    float: left;
    width: 100px;
    margin-right: 5px;
}

.card {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5px;
    margin-bottom: 15px;
}

@media only screen and (min-width: 992px) {
    .card {
        min-height: 280px;
    }
}

.card:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

#projects {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}

#projects li div {
    border: 1px solid #ddd;
    margin-top: -1px;
    padding: 12px;
    display: block;
}

#projects li div:odd {
    background-color: #f6f6f6;
}

#projects li div:even {
    background-color: #e2e2e2;
}