---
import ToolLayout from '@layouts/ToolLayout.astro';
import DiffTool from '@components/DiffTool.svelte';
---

<ToolLayout title="Diff Tool" ads={true}>

  <div class="card-body">
    <DiffTool client:load />
  </div>

</ToolLayout>
